<section class="after-head top-block-page with-back">
    <div class="overflow-back bg-lighten">
        <div class="c-leaf-inner opacity-10 d-none d-lg-block"><span class="svg-content svg-fill-theme"
                data-svg="assets/images/svg/cannabis.svg"></span></div>
    </div>
    <div class="content-offs container" style="margin-top: 175px;">
        <div class="section-top-head with-back">
            <div class="back-block">
                <div class="c-leafs-head-top opacity-20"><span class="svg-content svg-fill-theme"
                        data-svg="assets/images/svg/cannabis.svg"></span></div>
            </div>
            <h1 class="section-title">About Us</h1>
            <div class="mt-3">
                <div class="page-breadcrumbs"><a class="content-link" href="/">Home</a><span
                        class="mx-2">\</span><span>About Us</span></div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <article class="entity-side-image">
            <div class="entity-image"><img class="w-100" src="assets/images/content/720x720/image-14.jpg" alt=""></div>
            <div class="entity-content">
                <div class="separator-double"></div>
                <h2 class="entity-title">Who are we</h2>
                <p class="entity-subtext">What is our mission?</p>
                <p class="entity-text">Our mission is to bring our customers quality products, at the lowest price with
                    the best service in the industry. That is why we are premier online marijuana dispensary! We offer
                    our clients a user-friendly platform where you’re only a few clicks away from guaranteed delivery of
                    the highest quality marijuana products right to your front door-step.</p>
            </div>
        </article>
        <article class="entity-side-image entity-image-left">
            <div class="entity-image"><img class="w-100" src="assets/images/brands/chemdog.jpg" alt=""></div>
            <div class="entity-content">
                <div class="separator-double"></div>
                <h2 class="entity-title">Why choose us</h2>
                <p class="entity-subtext">How are we the best?</p>
                <p class="entity-text">Customer satisfaction is our top priority, there is nothing more exciting to us
                    than a repeat customer. With our price match policy along with guaranteed Xpresspost delivery, we
                    have been regarded as one of most trusted online marijuana dispensaries. For more information please
                    look at our F.A.Q. page for answers to common questions.</p>
            </div>
        </article>
    </div>
</section>
<section class="bg-lighten section-solid">
    <div class="container">
        <div class="grid justify-content-center row">
            <div class="col-lg-4 d-flex">
                <article class="entity">
                    <div class="entity-image"><img class="w-100" src="assets/images/content/720x540/image-1.jpg" alt="">
                    </div>
                    <div class="entity-content">
                        <h4 class="entity-title"><span class="separator-double"></span><span>Quality</span></h4>
                        <p class="entity-text">Our products undergo strict quality assurance checks that include testing
                            for molds and pesticides as well as THC & CBD levels. We then put all of our products
                            through our in-house analysis processes.</p>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 d-flex">
                <article class="entity">
                    <div class="entity-image"><img class="w-100" src="assets/images/content/720x540/image-2.jpg" alt="">
                    </div>
                    <div class="entity-content">
                        <h4 class="entity-title"><span class="separator-double"></span><span>Professional</span></h4>
                        <p class="entity-text">We have built solid relationships with industry leading organisations
                            including the most experienced cannabis growers, the finest concentrates producers and
                            talented edibles makers.</p>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 d-flex">
                <article class="entity">
                    <div class="entity-image"><img class="w-100" src="assets/images/content/720x540/image-3.jpg" alt="">
                    </div>
                    <div class="entity-content">
                        <h4 class="entity-title"><span class="separator-double"></span><span>Secure</span></h4>
                        <p class="entity-text">We go above and beyond when it comes to our customers information. Your
                            information is not stored online and never shared with anybody, at anytime, ever.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="big section-footer">
        <h2 class="section-title">Get Your <span class="text-theme">Marijuana Products</span> Today!</h2><a
            class="btn btn-theme" href="/shop/products">shop now&nbsp;&nbsp;&nbsp;<i
                class="fas fa-shopping-bag"></i></a>
    </div>
</section>