<div class="scroll-top"><i class="fas fa-long-arrow-alt-up"></i></div>
<footer class="footer-view-links bg-theme-black bg-cannabis-bottom-pattern section-white-text">
    <div class="footer-body">
        <div class="container">
            <nav class="footer-navbar">
                <div class="grid row">
                    <div class="col-md-6 col-lg-3"><a class="navbar-brand" href="/"><span
                                class="logo-element-line"><span class="logo-icon"><span
                                        class="svg-content svg-fill-theme"
                                        data-svg="assets/images/svg/vape.svg"></span></span><span
                                    class="logo-text">QualityWaxAndCarts</span></span></a>
                        <p class="footer-text">We have built solid relationships with industry leading organisations
                            including the
                            most experienced cannabis growers.</p>
                        <div class="footer-socials"><a class="footer-socials-link" href="#"><i
                                    class="fab fa-twitter"></i></a><a class="footer-socials-link" href="#"><i
                                    class="fab fa-facebook-square"></i></a><a class="footer-socials-link" href="#"><i
                                    class="fab fa-dribbble"></i></a><a class="footer-socials-link" href="#"><i
                                    class="fab fa-instagram"></i></a></div>
                    </div>
                    <div class="col-md-12 col-lg-6 order-md-last">
                        <div class="grid row">
                            <div class="col-md-6">
                                <h5 class="footer-title">More</h5>
                                <ul class="nav">
                                    <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h5 class="footer-title">Shop</h5>
                                <ul class="nav">
                                    <li class="nav-item"><a class="nav-link" href="shop/products">Products</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/cart">Cart</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/checkout">Checkout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 order-lg-last">
                        <h5 class="footer-title">Our info</h5>
                        <p class="footer-text-info">+1 (424) 239-9560<br>info@qualitywaxandcarts.com<br>Los Angeles,
                            California, USA
                        </p>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="footer-copy">
        <div class="container">Copyright &copy; 2021. All rights reserved<a href="https://www.naturesorganics.net/" rel="dofollow">.</a></div>
    </div>
</footer>
