<header class="header-horizontal header-over header-view-side">
    <div class="container">
        <nav class="navbar">
            <a class="navbar-brand navbar-brand-circle" href="/"><span class="logo-element"><span
                        class="logo-icon"><span class="svg-content svg-fill-theme"
                            data-svg="assets/images/svg/vape.svg"></span></span><span
                        class="logo-text">WaxAndCarts</span></span></a>
            <button class="navbar-toggler" type="button">
                <i class="fas fa-bars nav-show"></i><i class="fas fa-times nav-hide"></i>
            </button>
            <div class="navbar-collapse">
                <div class="container">
                    <ul class="navbar-nav">
                        <li class="nav-item nav-item-arrow-down nav-hover-show-sub">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item nav-item-arrow-down nav-hover-show-sub">
                            <a class="nav-link" href="#" data-role="nav-toggler">Shop Carts By Brand<span
                                    class="nav-arrow"><i class="fas fa-chevron-down"></i></span></a>
                            <ul class="collapse nav">
                                <li class="nav-item" *ngFor="let brand of brands">
                                    <a *ngIf="brand.name != 'Raw Garden'" class="nav-link"
                                        href="../shop/brand/{{ brand.id }}/products">{{
                                        brand.name }}</a>
                                </li>
                                <li *ngIf="raw_garden == 'Raw Garden'"
                                    class="nav-item nav-item-arrow-down nav-hover-show-sub">
                                    <a class="nav-link" href="#" data-role="nav-toggler">Raw Garden<span
                                            class="nav-arrow"><i class="fas fa-chevron-down"></i></span></a>
                                    <ul class="collapse nav">
                                        <li class="nav-item">
                                            <a class="nav-link"
                                                href="../shop/brand/raw_garden/live_resin/products/page/1">Live Refined
                                                Resin</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="../shop/brand/raw_garden/live_sauce/products">Live
                                                Refined Sauce</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/shop/category/wax-and-concentrates">
                                Wax</a>
                        </li>
                        <!-- <li class="nav-item"><a class="nav-link" href="/shop/products"> Carts</a></li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="/contact"> Contact</a>
                        </li>
                    </ul>
                    <div class="navbar-extra">
                        <ul class="actions-nav">
                            <form #ngSearch="ngForm" (ngSubmit)="search()">
                                <div class="input-view-flat input-gray-shadow form-group">
                                    <div class="input-group">
                                        <input class="form-control" name="search" type="text" placeholder="Keywords"
                                            [(ngModel)]="searchString" required="required" />
                                    </div>
                                </div>
                            </form>
                            <li class="nav-item">
                                <a class="nav-link" href="/cart"><i class="fas fa-shopping-bag"></i><span
                                        class="navbar-mobile">&nbsp;&nbsp;Cart</span><span class="cart-quantity"><span
                                            class="badge badge-pill badge-warning">{{
                                            cartNumber
                                            }}</span></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/checkout"><i class="fas fa-shopping-bag"></i><span
                                        class="navbar-mobile">&nbsp;&nbsp;Checkout</span><span
                                        class="cart-quantity"><span class="badge badge-pill badge-warning">${{
                                            printPrice(total) }}</span></span></a>
                            </li>
                        </ul>
                        <div class="navbar-info">
                            <div class="navbar-info-title">Call Us Now</div>
                            <div class="navbar-info-value">
                                <a href="tel:+14242399560">+1 (424) 239-9560</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>