<section class="after-head slick-top-thumb">
    <div class="bg-lighten overflow-hidden entity-bg">
        <div class="c-leaf-2 p-leaf-2 opacity-10">
            <span class="svg-content svg-fill-theme" data-svg="assets/images/svg/cannabis.svg"></span>
        </div>
    </div>
    <div class="slick-view-full-thumb slick-carousel" data-slider="top-main" style="margin-top: 175px">
        <div class="slick-slides">
            <div class="slick-slide">
                <div class="entity-banner">
                    <div class="content-offs container entity-content">
                        <div class="my-auto row">
                            <div class="
                  col-lg-6 col-xl-5
                  mt-5
                  my-lg-auto
                  text-center text-md-left
                ">
                                <div class="entity-bg">
                                    <div class="c-leaf-1 p-leaf-1 opacity-15">
                                        <span class="svg-content svg-fill-theme"
                                            data-svg="assets/images/svg/vape.svg"></span>
                                    </div>
                                </div>
                                <h2 class="h1 entity-title">
                                    <span class="text-theme">MuhaMeds</span> Carts
                                </h2>
                                <h5 class="offset-md-5 entity-subtitle">
                                    Products crafted with care
                                </h5>
                                <p class="entity-text">
                                    Bred for a high content of beneficial substances. Low-THC
                                    varieties for use in health.
                                </p>
                            </div>
                            <div class="my-4 m-lg-auto py-3 text-center col">
                                <div class="entity-image">
                                    <img class="mw-100" src="assets/images/brands/muha.png" alt="" width="400px"
                                        height="400px" />
                                </div>
                            </div>
                        </div>
                        <div class="text-center entity-action-btns">
                            <a class="btn-wide btn btn-theme" href="../shop/brand/muha-meds/products">shop now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slick-slide">
                <div class="entity-banner">
                    <div class="content-offs container entity-content">
                        <div class="my-auto row">
                            <div class="
                  col-lg-6 col-xl-5
                  mt-5
                  my-lg-auto
                  text-center text-md-left
                ">
                                <div class="entity-bg">
                                    <div class="c-leaf-1 p-leaf-1 opacity-15">
                                        <span class="svg-content svg-fill-theme"
                                            data-svg="assets/images/svg/pills.svg"></span>
                                    </div>
                                </div>
                                <h2 class="h1 entity-title">Stiiizy Collection</h2>
                                <h5 class="offset-md-5 entity-subtitle">
                                    Product crafted with care
                                </h5>
                                <p class="entity-text">
                                    Highlands cannabis softgels from Tweed have very mild THC
                                    potency.
                                </p>
                            </div>
                            <div class="my-4 m-lg-auto py-3 text-center col">
                                <div class="entity-image">
                                    <img class="mw-100" src="assets/images/stiiizy/stiiizy.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="text-center entity-action-btns">
                            <a class="btn-wide btn btn-theme" href="../shop/brand/stiiizy/products">shop now</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="slick-slide">
              <div class="entity-banner">
                  <div class="content-offs container entity-content">
                      <div class="my-auto row">
                          <div class="col-lg-6 col-xl-5 mt-5 my-lg-auto text-center text-md-left">
                              <div class="entity-bg">
                                  <div class="c-leaf-1 p-leaf-1 opacity-15"><span class="svg-content svg-fill-theme" data-svg="assets/images/svg/cannabis.svg"></span></div>
                              </div>
                              <h2 class="h1 entity-title"><span class="text-theme">ROVE</span> Cartridges</h2>
                              <h5 class="offset-md-5 entity-subtitle">Enjoy Your every breath</h5>
                              <p class="entity-text">THC Concentrates, CBD, and hybrid strains are grown aeroponically indoors using less water and energy than other grow methods.</p>
                          </div>
                          <div class="my-4 m-lg-auto py-3 text-center col">
                              <div class="entity-image"><img class="mw-100" src="assets/images/brands/rove-1.png" alt="" width="300" height="300"></div>
                          </div>
                      </div>
                      <div class="text-center entity-action-btns"><a class="btn-wide btn btn-theme" href="../shop/brand/rove/products">shop now</a></div>
                  </div>
              </div>
          </div> -->

            <!-- <div class="slick-slide">
              <div class="entity-banner">
                  <div class="content-offs container entity-content">
                      <div class="my-auto row">
                          <div class="col-lg-6 col-xl-5 mt-5 my-lg-auto text-center text-md-left">
                              <div class="entity-bg">
                                  <div class="c-leaf-1 p-leaf-1 opacity-15"><span class="svg-content svg-fill-theme" data-svg="assets/images/svg/cake.svg"></span></div>
                              </div>
                              <h2 class="h1 entity-title"><span class="text-theme">Weed</span> Cookies</h2>
                              <h5 class="offset-md-5 entity-subtitle">Grandma’s special recipe</h5>
                              <p class="entity-text">Chewy chocolate chip cookies are a reminder of the good old days at grandma’s house.</p>
                          </div>
                          <div class="my-4 m-lg-auto py-3 text-center col">
                              <div class="entity-image"><img class="mw-100" src="assets/images/content/540x350/weed-cookies.png" alt=""></div>
                          </div>
                      </div>
                      <div class="text-center entity-action-btns"><a class="btn-wide btn btn-theme" href="shop-sidebar-right.html">shop now</a></div>
                  </div>
              </div>
          </div>
          <div class="slick-slide">
              <div class="entity-banner">
                  <div class="content-offs container entity-content">
                      <div class="my-auto row">
                          <div class="col-lg-6 col-xl-5 mt-5 my-lg-auto text-center text-md-left">
                              <div class="entity-bg">
                                  <div class="c-leaf-1 p-leaf-1 opacity-15"><span class="svg-content svg-fill-theme" data-svg="assets/images/svg/bottle.svg"></span></div>
                              </div>
                              <h2 class="h1 entity-title"><span class="text-theme">Energy</span> Drink</h2>
                              <h5 class="offset-md-5 entity-subtitle">All day, all night</h5>
                              <p class="entity-text">An energy drink made only with highest quality ingredients.</p>
                          </div>
                          <div class="my-4 m-lg-auto py-3 text-center col">
                              <div class="entity-image"><img class="mw-100" src="assets/images/content/540x350/energy-drink.png" alt=""></div>
                          </div>
                      </div>
                      <div class="text-center entity-action-btns"><a class="btn-wide btn btn-theme" href="shop-sidebar-right.html">shop now</a></div>
                  </div>
              </div>
          </div> -->
        </div>
    </div>
    <div class="slick-view-thumbnails slick-carousel" data-slider="top-thumb">
        <div class="slick-slides">
            <div class="slick-slide">
                <div class="entity-block entity-hover-shadow text-center">
                    <div class="pb-4 entity-content">
                        <div class="entity-icon">
                            <div class="embed-responsive embed-responsive-1by1">
                                <img class="embed-responsive-item mw-100" src="assets/images/muha-meds/muha-meds-2.png"
                                    alt="" width="150" height="150" />
                            </div>
                        </div>
                        <h6 class="entity-title">MuhaMeds</h6>
                    </div>
                </div>
            </div>

            <div class="slick-slide">
                <div class="entity-block entity-hover-shadow text-center">
                    <div class="pb-4 entity-content">
                        <div class="entity-icon">
                            <div class="embed-responsive embed-responsive-1by1">
                                <img class="embed-responsive-item mw-100" src="assets/images/stiiizy/stiiizy.png" alt=""
                                    width="150" height="150" />
                            </div>
                        </div>
                        <h6 class="entity-title">Stiiizy Carts</h6>
                    </div>
                </div>
            </div>

            <!-- <div class="slick-slide">
              <div class="entity-block entity-hover-shadow text-center">
                  <div class="pb-4 entity-content">
                      <div class="entity-icon">
                          <div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item mw-100" src="assets/images/rove/rove.png" alt="" width="150" height="150"></div>
                      </div>
                      <h6 class="entity-title">Rove Carts</h6>
                  </div>
              </div>
          </div> -->

            <!-- <div class="slick-slide">
              <div class="entity-block entity-hover-shadow text-center">
                  <div class="pb-4 entity-content">
                      <div class="entity-icon">
                          <div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item mw-100" src="assets/images/content/150x150/weed-cookies.png" alt=""></div>
                      </div>
                      <h6 class="entity-title">Stiiizy</h6>
                  </div>
              </div>
          </div>
          <div class="slick-slide">
              <div class="entity-block entity-hover-shadow text-center">
                  <div class="pb-4 entity-content">
                      <div class="entity-icon">
                          <div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item mw-100" src="assets/images/content/150x150/energy-drink.png" alt=""></div>
                      </div>
                      <h6 class="entity-title">Exotic Carts</h6>
                  </div>
              </div>
          </div> -->
        </div>
        <div class="slick-arrows">
            <div class="slick-arrow-prev"><i class="fas fa-arrow-left"></i></div>
            <div class="slick-arrow-next"><i class="fas fa-arrow-right"></i></div>
        </div>
    </div>
</section>
<section class="section-solid section-white-text">
    <div class="bg-theme bg-cannabis-top-pattern overflow-back"></div>
    <div class="section-head">
        <div class="separator-double"></div>
        <h2 class="section-title">Benefits and Uses of CBD</h2>
        <p class="section-text">
            Here are six health benefits of CBD oil that are backed by scientific
            evidence.
        </p>
    </div>
    <div class="container">
        <div class="grid justify-content-center row">
            <div class="col-md-6 col-xl-4 d-flex">
                <div class="entity-shadow-block entity-icon-hover text-center">
                    <div class="entity-content">
                        <div class="p-3 entity-icon">
                            <img class="mw-100" src="assets/images/content/100x100/pain.png" alt="" />
                        </div>
                        <h5 class="entity-title">Can Relieve Pain</h5>
                        <p class="entity-text">
                            Marijuana has been used to treat pain as far back as 2900 B.C.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 d-flex">
                <div class="entity-shadow-block entity-icon-hover text-center">
                    <div class="entity-content">
                        <div class="p-3 entity-icon">
                            <img class="mw-100" src="assets/images/content/100x100/depression.png" alt="" />
                        </div>
                        <h5 class="entity-title">Could Reduce Anxiety and Depression</h5>
                        <p class="entity-text">
                            CBD oil has shown promise as a treatment for depression.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 d-flex">
                <div class="entity-shadow-block entity-icon-hover text-center">
                    <div class="entity-content">
                        <div class="p-3 entity-icon">
                            <img class="mw-100" src="assets/images/content/100x100/cancer.png" alt="" />
                        </div>
                        <h5 class="entity-title">Can Alleviate Cancer-Related Symptoms</h5>
                        <p class="entity-text">
                            CBD may also help reduce chemotherapy-induced nausea.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 d-flex">
                <div class="entity-shadow-block entity-icon-hover text-center">
                    <div class="entity-content">
                        <div class="p-3 entity-icon">
                            <img class="mw-100" src="assets/images/content/100x100/acne.png" alt="" />
                        </div>
                        <h5 class="entity-title">May Reduce Acne</h5>
                        <p class="entity-text">
                            Acne is a common skin condition that affects more than 9% of the
                            population.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 d-flex">
                <div class="entity-shadow-block entity-icon-hover text-center">
                    <div class="entity-content">
                        <div class="p-3 entity-icon">
                            <img class="mw-100" src="assets/images/content/100x100/entourage-effect.png" alt="" />
                        </div>
                        <h5 class="entity-title">Might Have Neuroprotective Properties</h5>
                        <p class="entity-text">
                            Researchers believe that CBD’s acts on the endocannabinoids.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 d-flex">
                <div class="entity-shadow-block entity-icon-hover text-center">
                    <div class="entity-content">
                        <div class="p-3 entity-icon">
                            <img class="mw-100" src="assets/images/content/100x100/inflammation.png" alt="" />
                        </div>
                        <h5 class="entity-title">Reduces Inflammation</h5>
                        <p class="entity-text">
                            CBD oil can reduce chronic inflammation that leads to disease.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="grid justify-content-center row">
            <div class="col-5 col-xl-6 d-none d-lg-block mt-auto">
                <img src="assets/images/content/x/doctor-left.png" alt="" />
            </div>
            <div class="section-left section-solid col">
                <div class="section-head">
                    <div class="separator-double"></div>
                    <h2 class="section-title">
                        We provide the right cartridges based on your needs
                    </h2>
                    <p class="section-text">Get top grade quality cartridges Online</p>
                </div>
                <div class="grid with-back row">
                    <div class="back-block">
                        <div class="back-steps-image animated infinite slow">
                            <img src="assets/images/parts/arrow-bg.png" alt="" />
                        </div>
                        <div class="entity">
                            <div class="entity-number display-3"></div>
                            <p class="mb-0 entity-text"></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="entity">
                            <div class="entity-number display-3">01</div>
                            <p class="mb-0 entity-text">
                                Contact us with appropriate details
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="entity">
                            <div class="entity-number display-3">02</div>
                            <p class="mb-0 entity-text">
                                Express your needs as explicit as possible
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="entity">
                            <div class="entity-number display-3">03</div>
                            <p class="mb-0 entity-text">Getting your desire cartridges</p>
                        </div>
                    </div>
                </div>
                <div class="section-footer">
                    <a class="btn btn-theme" href="/contact">get started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-solid">
    <div class="bg-lighten overflow-back">
        <div class="c-leafs-side">
            <span class="svg-content svg-fill-theme" data-svg="assets/images/svg/cannabis-leafs.svg"></span>
        </div>
    </div>
    <div class="section-head">
        <div class="separator-double"></div>
        <h2 class="section-title">Cartridges product types</h2>
        <p class="section-text">
            Some of the types of cartridges offered by our store
        </p>
    </div>
    <div class="container">
        <div class="grid justify-content-center row">
            <div class="col-md-6 col-xl-3 d-flex">
                <article class="entity-block entity-hover-shadow text-center">
                    <div class="entity-content">
                        <div class="p-3 entity-bg-circle entity-icon">
                            <img class="mw-100" src="assets/images/muha-meds/muha-meds-2.png" alt="" />
                        </div>
                        <h4 class="entity-title">MuhaMeds Carts</h4>
                        <p class="entity-text">Don’t settle for average, use the best.</p>
                        <div class="text-center pt-2 entity-action-btns">
                            <a class="btn-wide btn btn-theme" href="../shop/brand/muha-meds/products">shop</a>
                        </div>
                    </div>
                </article>
            </div>
            <!-- <div class="col-md-6 col-xl-3 d-flex">
              <article class="entity-block entity-hover-shadow text-center">
                  <div class="entity-content">
                      <div class="p-3 entity-bg-circle entity-icon"><img class="mw-100" src="assets/images/rove/rove.png" alt="" width="180" height="180"></div>
                      <h4 class="entity-title">Rove Carts</h4>
                      <p class="entity-text">Rove is a practical and honest cannabis product that anyone can enjoy.</p>
                      <div class="text-center pt-2 entity-action-btns"><a class="btn-wide btn btn-theme" href="../shop/brand/rove/products">shop</a></div>
                  </div>
              </article>
          </div> -->
            <div class="col-md-6 col-xl-3 d-flex">
                <article class="entity-block entity-hover-shadow text-center">
                    <div class="entity-content">
                        <div class="p-3 entity-bg-circle entity-icon">
                            <img class="mw-100" src="assets/images/stiiizy/stiiizy.png" alt="" width="180"
                                height="180" />
                        </div>
                        <h4 class="entity-title">Stiiizy Carts</h4>
                        <p class="entity-text">
                            Best known for innovation and premium quality concentrates and
                            products.
                        </p>
                        <div class="text-center pt-2 entity-action-btns">
                            <a class="btn-wide btn btn-theme" href="../shop/brand/stiiizy/products">shop</a>
                        </div>
                    </div>
                </article>
            </div>
            <!-- <div class="col-md-6 col-xl-3 d-flex">
              <article class="entity-block entity-hover-shadow text-center">
                  <div class="entity-content">
                      <div class="p-3 entity-bg-circle entity-icon"><img class="mw-100" src="assets/images/exotic-carts/exotic-carts.png" alt=""></div>
                      <h4 class="entity-title">Exotic Carts</h4>
                      <p class="entity-text">They are viewed as one of the most well known prefilled THC oil cartridges.</p>
                      <div class="text-center pt-2 entity-action-btns"><a class="btn-wide btn btn-theme" href="../shop/brand/exotic-carts/products">shop</a></div>
                  </div>
              </article>
          </div> -->
        </div>
    </div>
</section>
<section class="section-solid section-white-text">
    <div class="bg-theme bg-cannabis-pattern overflow-back"></div>
    <div class="container">
        <div class="cols-lg justify-content-center text-center row">
            <div class="col-12 col-xl-auto mt-xl-0 position-xl-center">
                <div class="entity-round-icon m-auto">
                    <div class="opacity-70 entity-content">
                        <div class="my-2 pb-0 entity-icon">
                            <span class="c-leaf-3 svg-content svg-fill-theme"
                                data-svg="assets/images/svg/cannabis.svg"></span>
                        </div>
                        <h2 class="text-theme entity-title">24/7</h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 col-xl-4 text-md-left">
                <div class="entity">
                    <h4 class="h2 font-weight-semibold entity-title">Consultation</h4>
                    <p class="mb-0 entity-text">
                        Contact our team for any particular assistance and we will be please
                        to respond as soon as possible.
                    </p>
                </div>
            </div>
            <div class="
          col-12 col-md-6 col-lg-5 col-xl-4
          offset-lg-2 offset-xl-4
          text-md-right
        ">
                <div class="entity">
                    <h4 class="h2 font-weight-semibold entity-title">Online shop</h4>
                    <p class="mb-0 entity-text">
                        Make your shopping online and place your order without any
                        hesitation and we will be responds as soon we can.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 col-xl-4 text-md-left">
                <div class="entity">
                    <h4 class="h2 font-weight-semibold entity-title">Express delivery</h4>
                    <p class="mb-0 entity-text">
                        There's never an urgent situation that can never be meet, just let
                        us know of how urgent your needs are and we will be at your service.
                    </p>
                </div>
            </div>
            <div class="
          col-12 col-md-6 col-lg-5 col-xl-4
          offset-lg-2 offset-xl-4
          text-md-right
        ">
                <div class="entity">
                    <h4 class="h2 font-weight-semibold entity-title">Call center</h4>
                    <p class="mb-0 h4 font-weight-light entity-text">
                        + 88 018 4113 6251<br />+ 88 018 5223 7221
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-solid">
    <div class="overflow-back">
        <div class="c-leafs-4">
            <span class="svg-content svg-fill-theme" data-svg="assets/images/svg/cannabis.svg"></span>
        </div>
    </div>
    <div class="section-head">
        <div class="separator-double"></div>
        <h2 class="section-title">Quick shop</h2>
        <p class="section-text">You can start accepting orders online</p>
    </div>
    <div class="container">
        <div class="slick-view-carousel slick-carousel" data-slider="quick-products">
            <div class="slick-slides">
                <div class="slick-slide" *ngFor="let product of products">
                    <article class="entity-block entity-hover-shadow">
                        <a class="entity-preview-show-up entity-preview" href="../shop/brand/{{ product.brandId }}/product/{{
                product.id
              }}"><span class="embed-responsive embed-responsive-4by3"><img class="embed-responsive-item"
                                    src="{{ product.photo }}" alt="" /></span><span
                                class="with-back entity-preview-content"><span
                                    class="overflow-back bg-body-back opacity-70"></span><span
                                    class="m-auto h1 text-theme"><i class="fas fa-shopping-cart"></i></span></span></a>
                        <div class="fill-color-line" data-role="fill-line">
                            <div class="opacity-30 fill-line-segment bg-theme" data-role="fill-line-segment"
                                data-min-width="10" data-preffered-width="50" data-max-width="80"></div>
                            <div class="opacity-60 fill-line-segment bg-theme" data-role="fill-line-segment"
                                data-min-width="10" data-preffered-width="50" data-max-width="80"></div>
                            <div class="fill-line-segment bg-theme" data-role="fill-line-segment" data-min-width="10"
                                data-preffered-width="50" data-max-width="80"></div>
                        </div>
                        <div class="entity-content">
                            <h4 class="entity-title">
                                <a class="content-link" href="../shop/brand/{{ product.brandId }}/product/{{
                    product.id
                  }}">{{ product.name }}</a>
                            </h4>
                            <!-- <p class="mb-0 entity-text">{{product.type}}</p> -->
                            <!-- <ul class="entity-list">
                              <li><b>THC</b>&nbsp;10.00 mg/ml</li>
                              <li><b>CBD</b>&nbsp;0.50 mg/ml</li>
                          </ul> -->
                            <div class="entity-bottom-line">
                                <div class="entity-price">
                                    <span class="currency">$</span>{{ printPrice(product.prices[0].amount) }}
                                    <span class="price-unit">/ {{ product.prices[0].unit }}</span>
                                </div>
                                <div class="entity-action-btns">
                                    <a class="btn-sm btn btn-theme" href="../shop/brand/{{ product.brandId }}/product/{{
                      product.id
                    }}">add to cart</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="slick-arrows">
                <div class="slick-arrow-prev"><i class="fas fa-arrow-left"></i></div>
                <div class="slick-arrow-next"><i class="fas fa-arrow-right"></i></div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="entity-slim-banner text-center text-lg-left with-back">
        <div class="overflow-back image-cover" data-background="assets/images/content/1920x1080/cannabis.jpg"></div>
        <div class="back-block bg-body-back opacity-80"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-auto mb-5 mb-lg-0 mr-lg-5 side-big">
                    <div class="logo-element">
                        <span class="logo-icon"><span class="svg-content svg-fill-theme"
                                data-svg="assets/images/svg/vape.svg"></span></span><span
                            class="logo-text">WaxAndCarts</span>
                    </div>
                </div>
                <div class="my-auto col">
                    <h2 class="mb-4 entity-title">
                        Cartridges shouldn’t be costly, inconsistent, or difficult to
                        access. It's flexible, practical and portable which you can carry
                        along wherever you are.
                    </h2>
                    <p class="h5 mb-0 entity-text">
                        We only carry the Very Best Product around!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-solid" data-slider="testimonials">
    <div class="overflow-back">
        <div class="container position-relative h-100">
            <div class="c-leafs-5">
                <span class="svg-content svg-fill-theme" data-svg="assets/images/svg/cannabis.svg"></span>
            </div>
        </div>
    </div>
    <div class="section-head container left">
        <div class="separator-double"></div>
        <h2 class="section-title">What our clients are saying</h2>
        <div class="slick-arrows">
            <div class="slick-arrow-prev"><i class="fas fa-arrow-left"></i></div>
            <div class="slick-arrow-next"><i class="fas fa-arrow-right"></i></div>
        </div>
    </div>
    <div class="container">
        <div class="slick-view-carousel slick-carousel">
            <div class="slick-slides">
                <div class="slick-slide">
                    <div class="entity-block entity-hover-shadow">
                        <div class="pb-4 entity-content">
                            <div class="side-image entity-header">
                                <div class="entity-image">
                                    <img class="mw-100" src="assets/images/brands/client.jpg" alt="" />
                                </div>
                                <h5 class="entity-title">
                                    Brass Knuckles, So much better brand!!!
                                </h5>
                            </div>
                            <p class="entity-text">
                                I've been smoking this brand for 2 years now and i love it.
                            </p>
                            <div class="entity-footer">
                                <div class="row">
                                    <div class="col-12 col-md">
                                        <div class="user-rating">
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-auto">
                                        <div class="entity-author">Hans Knox</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="entity-block entity-hover-shadow">
                        <div class="pb-4 entity-content">
                            <div class="side-image entity-header">
                                <div class="entity-image">
                                    <img class="mw-100" src="assets/images/brands/client.jpg" alt="" />
                                </div>
                                <h5 class="entity-title">AWESOME!!! Good muha-meds quality.</h5>
                            </div>
                            <p class="entity-text">
                                Great tasting hits with a higher grade of clarity. Never diluted
                                or mixed with any contaminants, propylene glycol, particulates
                                or harmful smoke toxins.
                            </p>
                            <div class="entity-footer">
                                <div class="row">
                                    <div class="col-12 col-md">
                                        <div class="user-rating">
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-auto">
                                        <div class="entity-author">Jack Smith.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="entity-block entity-hover-shadow">
                        <div class="pb-4 entity-content">
                            <div class="side-image entity-header">
                                <div class="entity-image">
                                    <img class="mw-100" src="assets/images/brands/client.jpg" alt="" />
                                </div>
                                <h5 class="entity-title">
                                    I'd recommend them to any of my friends, very portable
                                </h5>
                            </div>
                            <p class="entity-text">
                                A cost-effective vapor pen that is equipped with fast charging.
                                It’s safe, clean and ready to use; excellent for on-the-go
                                vaping.
                            </p>
                            <div class="entity-footer">
                                <div class="row">
                                    <div class="col-12 col-md">
                                        <div class="user-rating">
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                            <span class="rating-item rating-inactive"><i
                                                    class="fas fa-cannabis"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-auto">
                                        <div class="entity-author">Jannette Rwan.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="entity-block entity-hover-shadow">
                        <div class="pb-4 entity-content">
                            <div class="side-image entity-header">
                                <div class="entity-image">
                                    <img class="mw-100" src="assets/images/brands/client.jpg" alt="" />
                                </div>
                                <h5 class="entity-title">Best of the best!</h5>
                            </div>
                            <p class="entity-text">
                                Exotic carts are of vastly superior quality to most carts for
                                sale on the east coast. However, they are 20% lower thc than
                                advertised.
                            </p>
                            <div class="entity-footer">
                                <div class="row">
                                    <div class="col-12 col-md">
                                        <div class="user-rating">
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-auto">
                                        <div class="entity-author">Klimt T.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="entity-block entity-hover-shadow">
                        <div class="pb-4 entity-content">
                            <div class="side-image entity-header">
                                <div class="entity-image">
                                    <img class="mw-100" src="assets/images/brands/client.jpg" alt="" />
                                </div>
                                <h5 class="entity-title">Great for everyone!</h5>
                            </div>
                            <p class="entity-text">
                                Love the gelato cartridges by kingpen! Definitely fire!!!
                            </p>
                            <div class="entity-footer">
                                <div class="row">
                                    <div class="col-12 col-md">
                                        <div class="user-rating">
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                            <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-auto">
                                        <div class="entity-author">Lil Dick</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>