<section class="after-head top-block-page with-back">
    <div class="overflow-back bg-lighten">
        <div class="c-leaf-inner opacity-10 d-none d-lg-block"><span class="svg-content svg-fill-theme"
                data-svg="assets/images/svg/cannabis.svg"></span></div>
    </div>
    <div class="content-offs container" style="margin-top: 175px;">
        <div class="section-top-head with-back">
            <h1 class="section-title">{{product.name}}</h1>
            <div class="mt-3">
                <div class="page-breadcrumbs"><a class="content-link" href="/">Home</a><span class="mx-2">\</span><a
                        class="content-link" href="../shop/brand/{{product.brandId}}/products">Shop</a><span
                        class="mx-2">\</span><span>{{product.id}}</span></div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="sidebar-container">
        <div class="content">
            <section class="section">
                <div class="entity">
                    <div class="grid row">
                        <div class="col-md-6">
                            <div class="entity-image"><img class="w-100" src="{{product.photo}}" alt="{{product.name}}">
                            </div>
                        </div>
                        <div class="col">
                            <h2 class="mb-2 entity-title">{{product.name}}</h2>
                            <div class="user-rating mb-1" *ngIf="product.stars == 5">
                                <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                            </div>
                            <div class="user-rating mb-1" *ngIf="product.stars == 4">
                                <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                <span class="rating-item rating-inactive"><i class="fas fa-cannabis"></i></span>
                            </div>
                            <div class="user-rating mb-1" *ngIf="product.stars == 3">
                                <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                                <span class="rating-item rating-inactive"><i class="fas fa-cannabis"></i></span>
                                <span class="rating-item rating-inactive"><i class="fas fa-cannabis"></i></span>
                            </div>
                            <div class="mb-3 entity-price" *ngFor="let price of product.prices">
                                <span class="entity-price-current"
                                    *ngIf="price.unit == chosenUnit">${{printPrice(price.amount)}}</span>
                                <span class="entity-price-old"
                                    *ngIf="price.unit == chosenUnit">${{printPrice(price.amount + 10)}}</span>
                                <span class="entity-price-current" *ngIf="price.unit == chosenUnit"> /
                                    {{price.unit}}</span>
                            </div>
                            <div class="entity-action-btns">
                                <form autocomplete="off">
                                    <div class="row grid">
                                        <div class="col-auto">
                                            <div class="input-view-flat input-gray-shadow input-spin input-group">
                                                <input class="form-control" min="1" name="text" type="text" value="1"
                                                    [(ngModel)]="quant" (keyup)="onQuantityChange($event)">
                                                <span class="input-actions"><span class="input-decrement"
                                                        (click)="reduceQuant()"><i class="fas fa-minus"></i></span>
                                                    <span class="input-increment" (click)="addQuant()"><i
                                                            class="fas fa-plus"></i></span></span>
                                            </div>
                                        </div>
                                        <div class="col-auto"><button class="btn btn-theme" type="submit"
                                                (click)="addToCart()">add to cart</button></div>
                                    </div>
                                    <div class="row grid">
                                        <div class="col-auto">
                                            <p>Select Option</p>
                                            <select class="btn btn-theme" [(ngModel)]="chosenUnit" name="chosenUnit"
                                                style="width: 160px">
                                                <option *ngFor="let price of product.prices" [value]="price.unit">
                                                    {{price.unit}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- <ul class="mt-4 entity-list">
                                <li><span class="entity-list-title">SKU:</span><span class="entity-list-value">{{getProductIndex()}}</span></li>
                                <li><span class="entity-list-title">Categories:</span><span class="entity-list-value"><span class="entity-categories"><a href="/products">oil</a>, <a href="/products">concentrate</a></span></span></li>
                                <li *ngIf="product.name.includes('wax')"><span class="entity-list-title">Note:</span><span class="entity-list-value"><span class="entity-categories"><a href="/products">Minimum amount to order this product is €350</a></span></span></li>
                            </ul> -->
                        </div>
                    </div>
                    <div class="mb-4 entity-body">
                        <p>{{product.description1}}</p>
                    </div>
                    <p class="entity-details-list">
                        {{product.description2}}
                    </p>
                    <div class="entity-footer">
                        <div class="separator-line mb-3"></div>
                        <div class="entity-action-icons">
                            <div class="entity-actions-title">Share<a href="https://www.naturesorganics.net/category/strain" rel="dofollow" style="cursor: none;">:</a></div><a class="content-link" href="#"><i
                                    class="fab fa-facebook-f" aria-hidden="true"></i> </a><a class="content-link"
                                href="#"><i class="fab fa-twitter" aria-hidden="true"></i> </a><a class="content-link"
                                href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i> </a><a
                                class="content-link" href="#"><i class="fab fa-pinterest" aria-hidden="true"></i> </a><a
                                class="content-link" href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="section-block">
                    <div class="section-head">
                        <div class="separator-double"></div>
                        <h3 class="section-title">Comments</h3>
                    </div>
                    <div class="entity-block entity-hover-shadow"
                        *ngFor="let comment of getBrand(product.brandId).comments">
                        <div class="pb-4 entity-content">
                            <div class="side-image entity-header">
                                <div class="entity-image"><img class="mw-100"
                                        src="assets/images/content/100x100/people.png" alt=""></div>
                                <h5 class="mb-2 entity-title">{{getBrand(product.brandId).name}} user.</h5>
                                <!-- <div class="entity-date"><span class="text-theme"><i class="fas fa-calendar-alt"></i></span>&nbsp;&nbsp;&nbsp;07.08.2018, 14:33</div> -->
                            </div>
                            <p class="entity-text">{{comment}}</p>
                            <!-- <div class="entity-footer">
                                <div class="entity-actions"><a href="#"><i class="fas fa-reply"></i>&nbsp;&nbsp;reply</a><a href="#"><i class="fas fa-quote-left"></i>&nbsp;&nbsp;quote</a></div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- <div class="section-block">
                    <div class="section-head">
                        <div class="separator-double"></div>
                        <h3 class="section-title">Add Comment</h3>
                    </div>
                    <form autocomplete="off">
                        <div class="row grid">
                            <div class="col-12 col-sm-6">
                                <div class="input-view-flat input-gray-shadow form-group"><label class="required">Your Name</label>
                                    <div class="input-group"><input class="form-control" name="name" type="text" placeholder="Name" required="required"></div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="input-view-flat input-gray-shadow form-group"><label class="required">Your Email</label>
                                    <div class="input-group"><input class="form-control" name="email" type="email" placeholder="Email" required="required"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-view-flat input-gray-shadow form-group"><label class="required">Your Message</label>
                                    <div class="input-group"><textarea class="form-control" name="message" placeholder="Message"></textarea></div>
                                </div>
                            </div>
                            <div class="col-12"><button class="btn-wide mb-0 btn btn-theme" type="submit">add comments</button></div>
                        </div>
                    </form>
                </div> -->
            </section>
        </div>
        <div class="sidebar section order-lg-last">
            <section class="section-sidebar">
                <div class="mb-4 section-head">
                    <h3 class="section-title h4"><span class="section-mark"></span><span>Top products</span></h3>
                </div>
                <div class="grid row">
                    <div class="col-md-6 col-lg-12" *ngFor="let product of products">
                        <article class="entity">
                            <div class="grid-sm row">
                                <div class="col-sm-5"><a class="entity-preview-show-up entity-preview"
                                        href="../shop/brand/{{product.brandId}}/product/{{product.id}}"><span
                                            class="embed-responsive embed-responsive-6by4"><img
                                                class="embed-responsive-item" src="{{product.photo}}"
                                                alt="{{product.name}}"></span><span
                                            class="with-back entity-preview-content"><span
                                                class="h3 m-auto text-theme"><i class="fas fa-search"></i></span><span
                                                class="overflow-back bg-body-back opacity-70"></span></span></a></div>
                                <div class="col">
                                    <h4 class="h5 mb-1 entity-title"><a class="content-link"
                                            href="../shop/brand/{{product.brandId}}/product/{{product.id}}">{{product.name}}</a>
                                    </h4>
                                    <div class="user-rating"><span class="rating-item"><i
                                                class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                                                class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                                                class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                                                class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                                                class="fas fa-cannabis"></i></span></div>
                                    <div class="entity-price"><span
                                            class="currency">$</span>{{product.prices[0].amount}} /
                                        {{product.prices[0].unit}}</div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
            <section class="section-sidebar">
                <div class="section-head">
                    <h3 class="section-title h4"><span class="section-mark"></span><span>Categories</span></h3>
                </div>
                <ul class="list-unstyled">
                    <li><a class="record-line" href="blog-sidebar-right.html"><span class="record-icon"><i
                                    class="fas fa-cannabis"></i></span><span class="record-title">article</span><span
                                class="record-value">10</span></a></li>
                    <li><a class="record-line" href="blog-sidebar-right.html"><span class="record-icon"><i
                                    class="fas fa-cannabis"></i></span><span class="record-title">action</span><span
                                class="record-value">5</span></a></li>
                    <li><a class="record-line" href="blog-sidebar-right.html"><span class="record-icon"><i
                                    class="fas fa-cannabis"></i></span><span class="record-title">adventure</span><span
                                class="record-value">3</span></a></li>
                    <li><a class="record-line" href="blog-sidebar-right.html"><span class="record-icon"><i
                                    class="fas fa-cannabis"></i></span><span class="record-title">news</span><span
                                class="record-value">27</span></a></li>
                </ul>
            </section>
            <section class="section-sidebar">
                <div class="section-head">
                    <h3 class="section-title h4"><span class="section-mark"></span><span>Tags</span></h3>
                </div>
                <ul class="list-inline-flex">
                    <li><a class="record-line" href="blog-sidebar-right.html"><span class="record-icon">#</span><span
                                class="record-title">article</span></a></li>
                    <li><a class="record-line" href="blog-sidebar-right.html"><span class="record-icon">#</span><span
                                class="record-title">cannabis</span></a></li>
                    <li><a class="record-line" href="blog-sidebar-right.html"><span class="record-icon">#</span><span
                                class="record-title">health</span></a></li>
                    <li><a class="record-line" href="blog-sidebar-right.html"><span class="record-icon">#</span><span
                                class="record-title">indica</span></a></li>
                    <li><a class="record-line" href="blog-sidebar-right.html"><span class="record-icon">#</span><span
                                class="record-title">marijuana</span></a></li>
                    <li><a class="record-line" href="blog-sidebar-right.html"><span class="record-icon">#</span><span
                                class="record-title">medical</span></a></li>
                    <li><a class="record-line" href="blog-sidebar-right.html"><span class="record-icon">#</span><span
                                class="record-title">sativa</span></a></li>
                    <li><a class="record-line" href="blog-sidebar-right.html"><span class="record-icon">#</span><span
                                class="record-title">store</span></a></li>
                </ul>
            </section>
            <!-- <section class="section-sidebar">
                <div class="mb-4 section-head">
                    <h3 class="section-title h4"><span class="section-mark"></span><span>Instagram</span></h3>
                </div>
                <div class="grid-sm row">
                    <div class="col-md-6 col-xl-4"><a class="entity-block" href="#"><span class="entity-preview-show-up entity-preview"><span class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="assets/images/content/720x720/image-1.jpg" alt=""></span><span class="with-back entity-preview-content"><span class="overflow-back bg-body-back opacity-70"></span><span class="m-auto h1 text-theme"><i class="fab fa-instagram"></i></span></span></span></a></div>
                    <div class="col-md-6 col-xl-4"><a class="entity-block" href="#"><span class="entity-preview-show-up entity-preview"><span class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="assets/images/content/720x720/image-2.jpg" alt=""></span><span class="with-back entity-preview-content"><span class="overflow-back bg-body-back opacity-70"></span><span class="m-auto h1 text-theme"><i class="fab fa-instagram"></i></span></span></span></a></div>
                    <div class="col-md-6 col-xl-4"><a class="entity-block" href="#"><span class="entity-preview-show-up entity-preview"><span class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="assets/images/content/720x720/image-3.jpg" alt=""></span><span class="with-back entity-preview-content"><span class="overflow-back bg-body-back opacity-70"></span><span class="m-auto h1 text-theme"><i class="fab fa-instagram"></i></span></span></span></a></div>
                    <div class="col-md-6 col-xl-4"><a class="entity-block" href="#"><span class="entity-preview-show-up entity-preview"><span class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="assets/images/content/720x720/image-4.jpg" alt=""></span><span class="with-back entity-preview-content"><span class="overflow-back bg-body-back opacity-70"></span><span class="m-auto h1 text-theme"><i class="fab fa-instagram"></i></span></span></span></a></div>
                    <div class="col-md-6 col-xl-4"><a class="entity-block" href="#"><span class="entity-preview-show-up entity-preview"><span class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="assets/images/content/720x720/image-5.jpg" alt=""></span><span class="with-back entity-preview-content"><span class="overflow-back bg-body-back opacity-70"></span><span class="m-auto h1 text-theme"><i class="fab fa-instagram"></i></span></span></span></a></div>
                    <div class="col-md-6 col-xl-4"><a class="entity-block" href="#"><span class="entity-preview-show-up entity-preview"><span class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="assets/images/content/720x720/image-6.jpg" alt=""></span><span class="with-back entity-preview-content"><span class="overflow-back bg-body-back opacity-70"></span><span class="m-auto h1 text-theme"><i class="fab fa-instagram"></i></span></span></span></a></div>
                </div>
            </section> -->
        </div>
    </div>
</div>
