<section class="after-head top-block-page with-back">
    <div class="overflow-back bg-lighten">
        <div class="c-leaf-inner opacity-10 d-none d-lg-block">
            <span class="svg-content svg-fill-theme" data-svg="assets/images/svg/cannabis.svg"></span>
        </div>
    </div>
    <div class="content-offs container" style="margin-top: 175px">
        <div class="section-top-head with-back">
            <div class="back-block">
                <div class="c-leafs-head-top opacity-20">
                    <span class="svg-content svg-fill-theme" data-svg="assets/images/svg/cannabis.svg"></span>
                </div>
            </div>
            <h1 class="section-title">Shop Checkout</h1>
            <div class="mt-3">
                <div class="page-breadcrumbs">
                    <a class="content-link" href="/">Home</a><span class="mx-2">\</span><span>Checkout</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <form class="container" #checkoutForm="ngForm" (ngSubmit)="submit()">
        <div class="cols-xl row">
            <div class="col-lg-6">
                <h2 class="text-title mb-5">Billing details</h2>
                <div class="grid row">
                    <div class="col-md-6">
                        <div class="input-view-flat input-gray-shadow form-group">
                            <label class="required">Your firstname</label>
                            <div class="input-group">
                                <input class="form-control" name="firstname" type="text" placeholder="firstname"
                                    required="required" [(ngModel)]="shipping.firstName" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-view-flat input-gray-shadow form-group">
                            <label class="required">Your lastname</label>
                            <div class="input-group">
                                <input class="form-control" name="lastname" type="text" placeholder="lastname"
                                    required="required" [(ngModel)]="shipping.lastName" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-view-flat input-gray-shadow form-group">
                            <label class="required">Your Email</label>
                            <div class="input-group">
                                <input class="form-control" name="email" type="email" placeholder="Email@"
                                    required="required" [(ngModel)]="shipping.email" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-view-flat input-gray-shadow form-group">
                            <label class="required">Country</label>
                            <div class="input-group">
                                <select class="form-control" name="country" [(ngModel)]="shipping.country">
                                    <option *ngFor="let country of countryList" [value]="country"
                                        style="cursor: pointer">
                                        {{ country }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-view-flat input-gray-shadow form-group">
                            <label class="required">Address</label>
                            <div class="input-group">
                                <input class="form-control" name="address" type="text" placeholder="Address"
                                    required="required" [(ngModel)]="shipping.address1" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-view-flat input-gray-shadow form-group">
                            <label class="required">Town / City</label>
                            <div class="input-group">
                                <input class="form-control" name="city" type="text" placeholder="Town / City"
                                    required="required" [(ngModel)]="shipping.city" />
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-view-flat input-gray-shadow form-group">
                            <label class="required">Postcode / Zip</label>
                            <div class="input-group">
                                <input class="form-control" name="zip" type="text" placeholder="Postcode / Zip"
                                    required="required" [(ngModel)]="shipping.zip" />
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-view-flat input-gray-shadow form-group">
                            <label class="required">Phone</label>
                            <div class="input-group">
                                <input class="form-control" name="phone" type="text" placeholder="Phone"
                                    required="required" [(ngModel)]="shipping.phone" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-5">
                        <div class="input-view-flat input-gray-shadow form-group">
                            <label class="h4 mb-3 text-title">Additional Information</label>
                            <div class="input-group">
                                <textarea class="form-control" name="additionalInformation"
                                    placeholder="Additional Information" [(ngModel)]="shipping.notes"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="text-title mb-5">Your order</h2>
                <div class="order-items mb-5">
                    <div class="order-header">
                        <div class="order-line-title">Name</div>
                        <div class="order-line-total">Total</div>
                    </div>
                    <div class="order-item" *ngFor="let item of items">
                        <div class="order-line-title">{{ item.product.name }}</div>
                        <div class="order-line-total">
                            ${{ printPrice(itemTotal(item)) }}
                        </div>
                    </div>
                    <div class="order-subtotal">
                        <div class="order-line-title">Sub Total</div>
                        <div class="order-line-total">${{ printPrice(total()) }}</div>
                    </div>
                    <div class="order-subtotal">
                        <div class="order-line-title">Shipping</div>
                        <div class="order-line-total">As from $50</div>
                    </div>
                    <div class="separator-line"></div>
                    <div class="order-total">
                        <div class="order-line-title">Total</div>
                        <div class="order-line-total">${{ printPrice(total()+50) }}</div>
                    </div>
                </div>
                <h3 class="text-title mb-4">Payment Details</h3>
                <div class="grid row">
                    <div class="col-12">
                        <p>
                            Please use your Order ID obtained as the payment reference. Your
                            order won't be shipped until the funds have cleared in our
                            account.
                        </p>
                    </div>
                    <div class="col-12">
                        <div class="form-groups">
                            <!-- <div class="input-view-flat input-gray-shadow form-group" *ngFor="let payment of paymentOptionList">
                                <div class="form-check"><input class="form-check-input"
                                  type="radio" name="{{payment}}" [(ngModel)]="shipping.paymentOption"
                                  value="{{payment}}"><span class="form-check-icon"></span>
                                  <label class="form-check-label">{{payment}}</label></div>
                            </div> -->
                            <div class="input-view-flat input-gray-shadow form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="paymentOption2"
                                        name="paymentOption" [(ngModel)]="shipping.paymentOption" value="Paypal" /><span
                                        class="form-check-icon"></span>
                                    <label class="form-check-label" for="paymentOption2">Paypal</label>
                                </div>
                            </div>
                            <div class="input-view-flat input-gray-shadow form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="paymentOption3"
                                        name="paymentOption" [(ngModel)]="shipping.paymentOption"
                                        value="Ethereum" /><span class="form-check-icon"></span>
                                    <label class="form-check-label" for="paymentOption3">Ethereum</label>
                                </div>
                            </div>
                            <div class="input-view-flat input-gray-shadow form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="paymentOption4"
                                        name="paymentOption" [(ngModel)]="shipping.paymentOption" value="Tether" /><span
                                        class="form-check-icon"></span>
                                    <label class="form-check-label" for="paymentOption4">Tether</label>
                                </div>
                            </div>
                            <div class="input-view-flat input-gray-shadow form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="paymentOption5"
                                        name="paymentOption" [(ngModel)]="shipping.paymentOption"
                                        value="Litecoin" /><span class="form-check-icon"></span>
                                    <label class="form-check-label" for="paymentOption5">Litecoin</label>
                                </div>
                            </div>
                            <div class="input-view-flat input-gray-shadow form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="paymentOption6"
                                        name="paymentOption" [(ngModel)]="shipping.paymentOption"
                                        value="Bitcoin" /><span class="form-check-icon"></span>
                                    <label class="form-check-label" for="paymentOption6">Bitcoin</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-12">
                        <div class="input-view-flat input-gray-shadow form-group">
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="terms-and-conditions" name="terms" value="yes"><span class="form-check-icon"></span><label class="form-check-label" for="terms-and-conditions">I've read &amp; accept the <a href="#" target="_blank">terms &amp; conditions</a></label></div>
                        </div>
                    </div> -->
                    <div class="col-12">
                        <button class="btn-wider btn btn-theme" type="submit">
                            {{ buttonMsg }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>